src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.5.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">

    <flow name="triggerFlow" doc:name="triggerFlow" processingStrategy="synchronous" doc:description="This is the simpliest entry point to start the excecution of your Kick
Here you should: 
	* Define any inbound endpoint
	* Handle any input parameter and transform it into the expected format by the mainFlow
Here you should not: 
	* Run validations against external systems
	* Choose flow of your application based on input parameters">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="migrateemplyees" doc:name="start sync"/>
        <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="BAPI_EMPLOYEE_GETDATA" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="query SAP for Employees">
            <sap:definition><![CDATA[<jco>
  	<import>	
		<field name="FSTNAME_M">*AMY*</field>   
	</import>
</jco>]]></sap:definition>
        </sap:outbound-endpoint>
        <logger message="3333333333333 #[payload]" level="INFO" doc:name="Logger"/>
        <batch:execute name="businessLogicBatch1" doc:name="Batch Execute"/>

        <set-payload value="&lt;body style='font-family:Courier'&gt;&lt;h1&gt;Batch Process initiated&lt;/h1&gt;&lt;b&gt;ID:&lt;/b&gt;#[payload.getId()]&lt;br/&gt;&lt;b&gt;Records to Be Processed: &lt;/b&gt;#[payload.getRecordCount()]&lt;br/&gt; &lt;b&gt;Start execution on: &lt;/b&gt;#[new java.util.Date()]&lt;/body&gt;" doc:name="Set Batch Status response Payload"/>
        <http:response-builder status="200" contentType="text/html" doc:name="Build HTTP Response Message"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <sub-flow name="endpointsFlow1" doc:name="endpointsFlow1">
        <set-payload value="&lt;?xml version='1.0' encoding='UTF-8'?&gt; &lt;BAPI_EMPLOYEE_GETDATA&gt; &lt;import&gt; &lt;AUTHORITY_CHECK&gt;X&lt;/AUTHORITY_CHECK&gt; &lt;BLDING_NO&gt;&lt;/BLDING_NO&gt; &lt;COSTCENTER&gt;&lt;/COSTCENTER&gt; &lt;DATE&gt;2014-11-06&lt;/DATE&gt; &lt;EMPLOYEE_ID&gt;90000032&lt;/EMPLOYEE_ID&gt; &lt;EXTENSION&gt;&lt;/EXTENSION&gt; &lt;FSTNAME_M&gt;&lt;/FSTNAME_M&gt; &lt;FST_NAME_K&gt;&lt;/FST_NAME_K&gt; &lt;FST_NAME_R&gt;&lt;/FST_NAME_R&gt; &lt;JOBTXT&gt;&lt;/JOBTXT&gt; &lt;JOBTXT_LG&gt;&lt;/JOBTXT_LG&gt; &lt;LASTNAME_M&gt;&lt;/LASTNAME_M&gt; &lt;LIPLATE_NO&gt;&lt;/LIPLATE_NO&gt; &lt;LST_NAME_K&gt;&lt;/LST_NAME_K&gt; &lt;LST_NAME_R&gt;&lt;/LST_NAME_R&gt; &lt;ORGTXT&gt;&lt;/ORGTXT&gt; &lt;ORGTXT_LG&gt;&lt;/ORGTXT_LG&gt; &lt;PHONE_NO&gt;&lt;/PHONE_NO&gt; &lt;POSTXT&gt;&lt;/POSTXT&gt; &lt;POSTXT_LG&gt;&lt;/POSTXT_LG&gt; &lt;READDB&gt;F&lt;/READDB&gt; &lt;ROOM_NO&gt;&lt;/ROOM_NO&gt; &lt;USERID&gt;&lt;/USERID&gt; &lt;/import&gt; &lt;export&gt; &lt;RETURN&gt; &lt;TYPE&gt;&lt;/TYPE&gt; &lt;CODE&gt;&lt;/CODE&gt; &lt;MESSAGE&gt;&lt;/MESSAGE&gt; &lt;LOG_NO&gt;&lt;/LOG_NO&gt; &lt;LOG_MSG_NO&gt;000000&lt;/LOG_MSG_NO&gt; &lt;MESSAGE_V1&gt;&lt;/MESSAGE_V1&gt; &lt;MESSAGE_V2&gt;&lt;/MESSAGE_V2&gt; &lt;MESSAGE_V3&gt;&lt;/MESSAGE_V3&gt; &lt;MESSAGE_V4&gt;&lt;/MESSAGE_V4&gt; &lt;/RETURN&gt; &lt;/export&gt; &lt;tables&gt; &lt;ARCHIVELINK&gt; &lt;row id=&quot;0&quot;&gt; &lt;SAP_OBJECT&gt;PREL&lt;/SAP_OBJECT&gt; &lt;OBJECT_ID&gt;900000320002&lt;/OBJECT_ID&gt; &lt;ARCHIV_ID&gt;MA&lt;/ARCHIV_ID&gt; &lt;ARC_DOC_ID&gt;DEC7E30B736212F18D860018FE797282&lt;/ARC_DOC_ID&gt; &lt;AR_OBJECT&gt;HRICOLFOTO&lt;/AR_OBJECT&gt; &lt;AR_DATE&gt;2009-11-02&lt;/AR_DATE&gt; &lt;DEL_DATE&gt;&lt;/DEL_DATE&gt; &lt;RESERVE&gt;JPG&lt;/RESERVE&gt;&lt;/row&gt;&lt;/ARCHIVELINK&gt; &lt;COMMUNICATION&gt; &lt;row id=&quot;0&quot;&gt; &lt;PERNO&gt;00000000&lt;/PERNO&gt; &lt;INFOTYPE&gt;&lt;/INFOTYPE&gt; &lt;SUBTYPE&gt;&lt;/SUBTYPE&gt; &lt;OBJECT_ID&gt;&lt;/OBJECT_ID&gt; &lt;LOCK_IND&gt;&lt;/LOCK_IND&gt; &lt;TO_DATE&gt;0000-00-00&lt;/TO_DATE&gt; &lt;FROM_DATE&gt;0000-00-00&lt;/FROM_DATE&gt; &lt;SEQNO&gt;000&lt;/SEQNO&gt; &lt;CH_ON&gt;0000-00-00&lt;/CH_ON&gt; &lt;CHANGED_BY&gt;&lt;/CHANGED_BY&gt; &lt;HIST_FLAG&gt;&lt;/HIST_FLAG&gt; &lt;TEXTFLAG&gt;&lt;/TEXTFLAG&gt; &lt;REF_FLAG&gt;&lt;/REF_FLAG&gt; &lt;CNFRM_FLAG&gt;&lt;/CNFRM_FLAG&gt; &lt;SCREENCTRL&gt;&lt;/SCREENCTRL&gt; &lt;REASON&gt;&lt;/REASON&gt; &lt;FLAG1&gt;&lt;/FLAG1&gt; &lt;FLAG2&gt;&lt;/FLAG2&gt; &lt;FLAG3&gt;&lt;/FLAG3&gt; &lt;FLAG4&gt;&lt;/FLAG4&gt; &lt;RESERVED1&gt;&lt;/RESERVED1&gt; &lt;RESERVED2&gt;&lt;/RESERVED2&gt; &lt;USERTYPE&gt;&lt;/USERTYPE&gt; &lt;USERID&gt;&lt;/USERID&gt; &lt;USRID_LONG&gt;&lt;/USRID_LONG&gt;&lt;/row&gt;&lt;/COMMUNICATION&gt; &lt;INTERNAL_CONTROL&gt; &lt;row id=&quot;0&quot;&gt; &lt;PERNO&gt;00000000&lt;/PERNO&gt; &lt;INFOTYPE&gt;&lt;/INFOTYPE&gt; &lt;SUBTYPE&gt;&lt;/SUBTYPE&gt; &lt;OBJECT_ID&gt;&lt;/OBJECT_ID&gt; &lt;LOCK_IND&gt;&lt;/LOCK_IND&gt; &lt;TO_DATE&gt;0000-00-00&lt;/TO_DATE&gt; &lt;FROM_DATE&gt;0000-00-00&lt;/FROM_DATE&gt; &lt;SEQNO&gt;000&lt;/SEQNO&gt; &lt;CH_ON&gt;0000-00-00&lt;/CH_ON&gt; &lt;CHANGED_BY&gt;&lt;/CHANGED_BY&gt; &lt;HIST_FLAG&gt;&lt;/HIST_FLAG&gt; &lt;TEXTFLAG&gt;&lt;/TEXTFLAG&gt; &lt;REF_FLAG&gt;&lt;/REF_FLAG&gt; &lt;CNFRM_FLAG&gt;&lt;/CNFRM_FLAG&gt; &lt;SCREENCTRL&gt;&lt;/SCREENCTRL&gt; &lt;REASON&gt;&lt;/REASON&gt; &lt;FLAG1&gt;&lt;/FLAG1&gt; &lt;FLAG2&gt;&lt;/FLAG2&gt; &lt;FLAG3&gt;&lt;/FLAG3&gt; &lt;FLAG4&gt;&lt;/FLAG4&gt; &lt;RESERVED1&gt;&lt;/RESERVED1&gt; &lt;RESERVED2&gt;&lt;/RESERVED2&gt; &lt;PREV_PERNO&gt;&lt;/PREV_PERNO&gt; &lt;COMPIDCARD&gt;&lt;/COMPIDCARD&gt; &lt;TAX_REG&gt;&lt;/TAX_REG&gt; &lt;CARVALUE&gt;0.00&lt;/CARVALUE&gt; &lt;LIPLATE_NO&gt;&lt;/LIPLATE_NO&gt; &lt;CURRENCY&gt;&lt;/CURRENCY&gt; &lt;ASSETNO&gt;&lt;/ASSETNO&gt; &lt;BLDING_NO&gt;&lt;/BLDING_NO&gt; &lt;ROOM_NO&gt;&lt;/ROOM_NO&gt; &lt;PHONENO1&gt;&lt;/PHONENO1&gt; &lt;PHONENO2&gt;&lt;/PHONENO2&gt; &lt;COMTYPE1&gt;&lt;/COMTYPE1&gt; &lt;COMNO1&gt;&lt;/COMNO1&gt; &lt;COMTYPE2&gt;&lt;/COMTYPE2&gt; &lt;COMNO2&gt;&lt;/COMNO2&gt; &lt;COMTYPE3&gt;&lt;/COMTYPE3&gt; &lt;COMNO3&gt;&lt;/COMNO3&gt; &lt;COMTYPE4&gt;&lt;/COMTYPE4&gt; &lt;COMNO4&gt;&lt;/COMNO4&gt; &lt;COMTYPE5&gt;&lt;/COMTYPE5&gt; &lt;COMNO5&gt;&lt;/COMNO5&gt; &lt;COMTYPE6&gt;&lt;/COMTYPE6&gt; &lt;COMNO6&gt;&lt;/COMNO6&gt;&lt;/row&gt;&lt;/INTERNAL_CONTROL&gt; &lt;ORG_ASSIGNMENT&gt; &lt;row id=&quot;0&quot;&gt; &lt;PERNO&gt;90000032&lt;/PERNO&gt; &lt;INFOTYPE&gt;0001&lt;/INFOTYPE&gt; &lt;SUBTYPE&gt;&lt;/SUBTYPE&gt; &lt;OBJECT_ID&gt;&lt;/OBJECT_ID&gt; &lt;LOCK_IND&gt;&lt;/LOCK_IND&gt; &lt;TO_DATE&gt;9999-12-31&lt;/TO_DATE&gt; &lt;FROM_DATE&gt;2009-10-08&lt;/FROM_DATE&gt; &lt;SEQNO&gt;000&lt;/SEQNO&gt; &lt;CH_ON&gt;2009-11-04&lt;/CH_ON&gt; &lt;CHANGED_BY&gt;SOLOMON&lt;/CHANGED_BY&gt; &lt;HIST_FLAG&gt;&lt;/HIST_FLAG&gt; &lt;TEXTFLAG&gt;&lt;/TEXTFLAG&gt; &lt;REF_FLAG&gt;&lt;/REF_FLAG&gt; &lt;CNFRM_FLAG&gt;&lt;/CNFRM_FLAG&gt; &lt;SCREENCTRL&gt;&lt;/SCREENCTRL&gt; &lt;REASON&gt;&lt;/REASON&gt; &lt;FLAG1&gt;&lt;/FLAG1&gt; &lt;FLAG2&gt;&lt;/FLAG2&gt; &lt;FLAG3&gt;&lt;/FLAG3&gt; &lt;FLAG4&gt;&lt;/FLAG4&gt; &lt;RESERVED1&gt;&lt;/RESERVED1&gt; &lt;RESERVED2&gt;&lt;/RESERVED2&gt; &lt;COMP_CODE&gt;1000&lt;/COMP_CODE&gt; &lt;PERS_AREA&gt;1300&lt;/PERS_AREA&gt; &lt;EGROUP&gt;1&lt;/EGROUP&gt; &lt;ESUBGROUP&gt;DU&lt;/ESUBGROUP&gt; &lt;ORG_KEY&gt;13000000001000&lt;/ORG_KEY&gt; &lt;BUS_AREA&gt;9900&lt;/BUS_AREA&gt; &lt;P_SUBAREA&gt;&lt;/P_SUBAREA&gt; &lt;LEG_PERSON&gt;0001&lt;/LEG_PERSON&gt; &lt;PAYAREA&gt;D2&lt;/PAYAREA&gt; &lt;CONTRACT&gt;&lt;/CONTRACT&gt; &lt;COSTCENTER&gt;0000001000&lt;/COSTCENTER&gt; &lt;ORG_UNIT&gt;50005604&lt;/ORG_UNIT&gt; &lt;POSITION&gt;50011365&lt;/POSITION&gt; &lt;JOB&gt;50052926&lt;/JOB&gt; &lt;SUPERVISOR&gt;&lt;/SUPERVISOR&gt; &lt;PAYR_ADMIN&gt;&lt;/PAYR_ADMIN&gt; &lt;PERS_ADMIN&gt;&lt;/PERS_ADMIN&gt; &lt;TIME_ADMIN&gt;&lt;/TIME_ADMIN&gt; &lt;SORT_NAME&gt;SCHMADTKE ERICH&lt;/SORT_NAME&gt; &lt;NAME&gt;Dr. Erich Schmadtke&lt;/NAME&gt; &lt;OBJECTTYPE&gt;S&lt;/OBJECTTYPE&gt; &lt;ADMINGROUP&gt;1300&lt;/ADMINGROUP&gt; &lt;CO_AREA&gt;1000&lt;/CO_AREA&gt; &lt;FUNDS_CTR&gt;&lt;/FUNDS_CTR&gt; &lt;FUND&gt;&lt;/FUND&gt; &lt;ORGTXT&gt;Business Systems Support&lt;/ORGTXT&gt; &lt;JOBTXT&gt;WC-Systems Analyst&lt;/JOBTXT&gt; &lt;POSTXT&gt;Sr Bus Anal&lt;/POSTXT&gt; &lt;FKBER&gt;&lt;/FKBER&gt; &lt;GRANT_NBR&gt;&lt;/GRANT_NBR&gt;&lt;/row&gt;&lt;/ORG_ASSIGNMENT&gt; &lt;PERSONAL_DATA&gt; &lt;row id=&quot;0&quot;&gt; &lt;PERNO&gt;90000032&lt;/PERNO&gt; &lt;INFOTYPE&gt;0002&lt;/INFOTYPE&gt; &lt;SUBTYPE&gt;&lt;/SUBTYPE&gt; &lt;OBJECT_ID&gt;&lt;/OBJECT_ID&gt; &lt;LOCK_IND&gt;&lt;/LOCK_IND&gt; &lt;TO_DATE&gt;9999-12-31&lt;/TO_DATE&gt; &lt;FROM_DATE&gt;1972-10-29&lt;/FROM_DATE&gt; &lt;SEQNO&gt;000&lt;/SEQNO&gt; &lt;CH_ON&gt;2009-10-29&lt;/CH_ON&gt; &lt;CHANGED_BY&gt;D052047&lt;/CHANGED_BY&gt; &lt;HIST_FLAG&gt;&lt;/HIST_FLAG&gt; &lt;TEXTFLAG&gt;&lt;/TEXTFLAG&gt; &lt;REF_FLAG&gt;&lt;/REF_FLAG&gt; &lt;CNFRM_FLAG&gt;&lt;/CNFRM_FLAG&gt; &lt;SCREENCTRL&gt;&lt;/SCREENCTRL&gt; &lt;REASON&gt;&lt;/REASON&gt; &lt;FLAG1&gt;&lt;/FLAG1&gt; &lt;FLAG2&gt;&lt;/FLAG2&gt; &lt;FLAG3&gt;&lt;/FLAG3&gt; &lt;FLAG4&gt;&lt;/FLAG4&gt; &lt;RESERVED1&gt;&lt;/RESERVED1&gt; &lt;RESERVED2&gt;&lt;/RESERVED2&gt; &lt;INITIALS&gt;&lt;/INITIALS&gt; &lt;LAST_NAME&gt;Schmadtke&lt;/LAST_NAME&gt; &lt;LAST_NAME2&gt;&lt;/LAST_NAME2&gt; &lt;FIRSTNAME&gt;Erich&lt;/FIRSTNAME&gt; &lt;TITLE&gt;Dr.&lt;/TITLE&gt; &lt;TITLE_2&gt;&lt;/TITLE_2&gt; &lt;ARI_TITLE&gt;&lt;/ARI_TITLE&gt; &lt;NAMEAFFIX&gt;&lt;/NAMEAFFIX&gt; &lt;NAMEPREFIX&gt;&lt;/NAMEPREFIX&gt; &lt;KNOWN_AS&gt;&lt;/KNOWN_AS&gt; &lt;NAME_FORM&gt;00&lt;/NAME_FORM&gt; &lt;FORMOFADR&gt;1&lt;/FORMOFADR&gt; &lt;GENDER&gt;1&lt;/GENDER&gt; &lt;BIRTHDATE&gt;1972-10-29&lt;/BIRTHDATE&gt; &lt;BIRTHCTRY&gt;DE&lt;/BIRTHCTRY&gt; &lt;BIRTHSTATE&gt;&lt;/BIRTHSTATE&gt; &lt;BIRTHPLACE&gt;Rostock&lt;/BIRTHPLACE&gt; &lt;NATIONAL&gt;DE&lt;/NATIONAL&gt; &lt;NATIONAL_2&gt;&lt;/NATIONAL_2&gt; &lt;NATIONAL_3&gt;&lt;/NATIONAL_3&gt; &lt;LANGU&gt;D&lt;/LANGU&gt; &lt;RELIGION&gt;02&lt;/RELIGION&gt; &lt;MAR_STATUS&gt;0&lt;/MAR_STATUS&gt; &lt;MAR_DATE&gt;0000-00-00&lt;/MAR_DATE&gt; &lt;NO_O_CHLDR&gt;0&lt;/NO_O_CHLDR&gt; &lt;NAME_CON&gt;&lt;/NAME_CON&gt; &lt;PERMO&gt;&lt;/PERMO&gt; &lt;PERID&gt;&lt;/PERID&gt; &lt;BIRTHDTPP&gt;1972-10-29&lt;/BIRTHDTPP&gt; &lt;FST_NAME_K&gt;&lt;/FST_NAME_K&gt; &lt;LST_NAME_K&gt;&lt;/LST_NAME_K&gt; &lt;FST_NAME_R&gt;&lt;/FST_NAME_R&gt; &lt;LST_NAME_R&gt;&lt;/LST_NAME_R&gt; &lt;BIRTHNME_K&gt;&lt;/BIRTHNME_K&gt; &lt;BIRTHNME_R&gt;&lt;/BIRTHNME_R&gt; &lt;NICKNAME_K&gt;&lt;/NICKNAME_K&gt; &lt;NICKNAME_R&gt;&lt;/NICKNAME_R&gt; &lt;BIRTHYEAR&gt;1972&lt;/BIRTHYEAR&gt; &lt;BIRTHMONTH&gt;10&lt;/BIRTHMONTH&gt; &lt;BIRTHDAY&gt;29&lt;/BIRTHDAY&gt; &lt;LASTNAME_M&gt;SCHMADTKE&lt;/LASTNAME_M&gt; &lt;FSTNAME_M&gt;ERICH&lt;/FSTNAME_M&gt;&lt;/row&gt;&lt;/PERSONAL_DATA&gt; &lt;/tables&gt; &lt;/BAPI_EMPLOYEE_GETDATA&gt;" doc:name="Set Payload"/>
    </sub-flow>
</mule>
